textarea:focus, input:focus{
    outline: none;
}
.AddEvent-card {
  position: fixed;
  z-index:900;
  text-align: center;
  width:100vw;
  height:100vh;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 1em 2em  rgba(0, 0, 0, 0.3);
}

.AddEvent-content {
  position: absolute;
  margin-bottom: 15vh;
  bottom: 0;
  width:80vw;
  padding: 10vh 10vw;
  background-image: radial-gradient(ellipse farthest-corner at center, rgba(255,255,255,0.88) 0%, rgba(255,255,255,0) 75%);
    display: table-cell;
}

.AddEvent-close {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin: 30px 30px 0 0;
  background: url(../img/btn-crossBlack.svg) no-repeat center center;
  opacity: 1;
}

.AddEvent-msg-frame{
  position:absolute;
  width: 100vw;
  z-index:800;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.AddEvent-msg {
  flex: 0 1 auto;
  align-self: center;
  text-align: center;
  padding: 6px 13px 8px 13px;
  top:20vh;
  border-radius: 40px;
  position: absolute;
  background-color: #252525;
  color: white;
  font-weight: 300;
  font-size:1em;
}

.AddEvent-form textarea.AddEvent-input{
  font-weight: 200;
  font-size: 2.2em;
  width: 80vw;
  flex: 0 1 auto;
  align-self: center;
  text-align: center;
  color: rgba(37, 37, 37, 1);
  border: 0;
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  vertical-align: middle;
  resize: none;
}

input[placeholder], [placeholder], *[placeholder] {
   color: rgba(37, 37, 37, 0.88);
   font-weight: 200;
}


.AddEvent-form .AddEvent-valid {
width: 80px;
height: 80px;
border-radius: 40px;
border:0;
cursor: pointer;
text-align: center;
font-size: 4em;
line-height: 1.2em;
font-weight: 300;
color:white;
position: absolute;
bottom: 8vh;
background-color: rgba(254, 86, 174, 0.65);
overflow: hidden;
background: #f06;
background: url(../img/btn-check.png) no-repeat center center, linear-gradient( 45deg, #f6ab2f, rgba(254, 86, 174, 1));
opacity: 0.8;
}
