.EventDetail-close {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin: 20px 20px 0 0;
}

.EventDetail-card {
  position: fixed;
  z-index:900;
  text-align: center;
  width:100vw;
  height:100vh;
  background-size: cover;
}

.EventDetail-content {
  position: absolute;
  margin-bottom: 10vh;
  bottom: 0;
  width:90vw;
  padding: 10vh 5vw;
  background-image: radial-gradient(ellipse farthest-corner at center, rgba(255,255,255,0.88) 0%, rgba(255,255,255,0) 75%);
}
