.FilterMenu-container {
  height:100vh;
  width:100vw;
  z-index: 1;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 auto;
}

.FilterMenu-close {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #FFFFFF;
  right: 0;
  top:0;
  justify-content: center;
  align-items: center;
  position:fixed;
  margin: 30px 30px 0 0;
  background: url(../img/btn-crossWhite.svg) no-repeat center center;
  opacity: 1;
}

.FilterMenu-title{
  color: white;
  font-size:2.5em;
  font-weight: 300;
  text-align: left;
  margin: 0 auto;
  margin-left:5vw;
  padding: 0;
}

.FilterMenu-menu {
  z-index: 2;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;

}

.FilterMenu-header {
  width: 100vw;
  position: fixed;
  top: 0;
  margin: 0;
  padding-left: 5vw;
  padding: 3vh 0px 0px 0px;
  background: linear-gradient(45deg, rgba(251, 117, 127, 1), rgba(254, 86, 174, 1));
}

.FilterMenu-shortLine {
  height: 1px;
  width: 20vw;
  margin: 3vh 5vw 3vh 5vw;
  background-color: rgba(255,255,255, 0.3);
}

ul.FilterMenu-trendy {
  padding: 0;
  width: 100%;
  margin-top: 40vh;
}

ul.FilterMenu-trendy li {
  line-height: 2.8em;
  list-style-type: none;
  text-align: center;
  font-size: 1.1em;
  font-weight: 500;
}

ul.FilterMenu-trendy li a {
  text-decoration: none;
  color: rgba(251, 117, 127, 1);
}

ul.FilterMenu-trendy li a:hover {
  text-decoration: underline;
}

ul.FilterMenu-trendy li.FilterMenu-trendy-title {
  line-height: 2em;
  color: #d3d3d3;
  list-style-type: none;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}


.FilterMenu-form input.FilterMenu-input{
  font-size: 2em;
  font-weight: 200;
  height: 20vh;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  width: 100vw;
  margin-top: -25px;
}

.FilterMenu-checkButton {
width: 70px;
height: 70px;
border-radius: 35px;
border:0;
cursor: pointer;
position: absolute;
margin-top: -35px;
left: 50vw;
margin-left: -35px;
box-shadow: 0px 3px 4px rgba(37, 37, 37, 0.1);
overflow: hidden;
background: white url(../img/btn-check-color.svg) no-repeat center center;
background-size: 50% 50%;
}
