.ProfilDetail-card{
  color:#FFFFFF;
  text-align: center;
}

.ProfilDetail-detail {
  height: 85vh;
  width: 100vw;
  padding: 15vh 0px 0px 0px;
  background: linear-gradient( 45deg, #f6ab2f, rgba(254, 86, 174, 1));
}

.ProfilDetail-close {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #FFFFFF;
  right: 0;
  top:0;
  justify-content: center;
  align-items: center;
  position:fixed;
  margin: 30px 30px 0 0;
  background: url(../img/btn-crossBlack.svg) no-repeat center center;
  opacity: 1;
}

.ProfilDetail-monogram{
  height: 80px;
  margin: 0px 0px 30px 0px;
  background: url(../img/monogramWhite.svg) no-repeat center center;
}

.ProfilDetail-name {
  font-size:1.3em;
}

.ProfilDetail-title {
  font-size:1em;
  font-weight: 300;
}

.ProfilDetail-qrcode{
  height:150px;
  background: url(../img/qrcode.svg) no-repeat center center;
  margin-top: 70px;
  opacity: 0.6;
}

.ProfilDetail-collect{
  margin-top: 40px;
  font-size:1em;
  font-weight: 300;
}

.ProfilDetail-nbr{
  font-size: 2em;
  font-weight: 200;
  width: 55vw;
  float:left;
  text-align: right;
}

.ProfilDetail-graph{
  font-size: 2em;
  font-weight: 100;
  width: 40vw;
  margin-left: 3vw;
  margin-top:0.3em;
  float:left;
  text-align: left;
}

.ProfilDetail-rock {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  cursor: pointer;
  background: radial-gradient( farthest-side ellipse at 65% 35%, #fcb2c2, #ff0090);
  background-clip: padding-box;
  box-shadow:
    0 1px 5px rgba(252,104,136,0.6),
    inset 3px -3px 2px 0px rgba(255,255,255,0.3);
  text-align: left;
}

.ProfilDetail-Wishlist {
  height: 96vh;
  width: 100vw;
  padding: 4vh 0px 0px 0px;
  background-color: white;
}

.ProfilDetail-category {
  font-size:2.5em;
  font-weight: 300;
  text-align: left;
  margin-left:5vw;
  background: -webkit-linear-gradient(45deg, rgba(251, 117, 127, 1), rgba(254, 86, 174, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ProfilDetail-quote {
  text-align: left;
  background: -webkit-linear-gradient(45deg, rgba(251, 117, 127, 1), rgba(254, 86, 174, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  font-size: 1em;
  padding: 0 5vw;
}

.ProfilDetail-Line {
  height: 1px;
  width: 90vw;
  margin: 3vh 5vw 3vh 5vw;
  background-color: rgba(255,255,255,0.3);
}

.ProfilDetail-shortLine {
  height: 1px;
  width: 20vw;
  margin: 3vh 5vw 3vh 5vw;
  background-color: rgba(251, 117, 127, 0.3);
}

ul.ProfilDetail-CityTrips {
  list-style-type: none;
  position: relative;
  float: left;
  display: block;
  left: 50%;
  margin-left:-40px;
}

ul.ProfilDetail-CityTrips li {
  margin:-5px 4px;
  padding: 5px 12px 6px 12px;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 70px;
  position: relative;
  float: left;
  display: block;
  right: 50%;
}

ul.ProfilDetail-TripsDetail {
  list-style-type: none;
  position: relative;
  float: left;
  margin-left:-40px;
  top: 8px;
}

ul.ProfilDetail-TripsDetail li {
  width: 90vw;
  font-size:1.3em;
  height: 120px;
  margin: 0px 5vw 5vw 5vw;
  display: block;
  background-size:cover;
  background-position: center center;
}

.ProfilDetail-vignette {
    display:table-cell;
    vertical-align:middle;
    height: 120px;
    width: 100vw;
    background: linear-gradient( 45deg, rgba(246, 171, 47, .3), rgba(254, 86, 174, .3));
}

.ProfilDetail-normal {
    font-size: 0.8em;
    font-weight: 300;
    color: rgba(255, 255, 255, .7);
}
