.ProfilDetail-card{
  color:#FFFFFF;
  text-align: center;
}

.ProfilDetail-detail {
  height: 37vh;
  width: 100%;
  padding: 12vh 0px 0px 0px;
  background: linear-gradient( 45deg, rgba(251, 117, 127, 1), rgba(254, 86, 174, 1));
}

.ProfilDetail-close {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #FFFFFF;
  right: 0;
  top:0;
  justify-content: center;
  align-items: center;
  position:fixed;
  margin: 30px 30px 0 0;
  background: url(../img/btn-crossWhite.svg) no-repeat center center;
  opacity: 1;
  z-index: 999;
}

.ProfilDetail-monogram{
  height: 80px;
  margin: 0px 0px 30px 0px;
  background: url(../img/monogramWhite.svg) no-repeat center center;
}

.ProfilDetail-name {
  font-size:1.3em;
}

.ProfilDetail-title {
  font-size:1em;
  font-weight: 300;
}

.ProfilDetail-qrcode{
  height:150px;
  background: url(../img/qrcode.svg) no-repeat center center;
  margin-top: 70px;
  opacity: 0.6;
}

.ProfilDetail-collect{
  margin-top: 40px;
  font-size:1em;
  font-weight: 300;
}

.ProfilDetail-category {
  font-size:2.5em;
  font-weight: 300;
  line-height: 1em;
  position: relative;
  text-align: left;
  margin-left:5vw;
  background: -webkit-linear-gradient(45deg, rgba(251, 117, 127, 1), rgba(254, 86, 174, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ProfilDetail-category-white {
  font-size:2.5em;
  font-weight: 300;
  line-height: 1em;
  position: relative;
  text-align: left;
  margin-left:5vw;
  color:white;
}

.ProfilDetail-Subcategory {
  font-size:1.6em;
  line-height: 1em;
  font-weight: 300;
  text-align: left;
  margin-left:5vw;
  margin-top: 8vw;
  background: -webkit-linear-gradient(45deg, rgba(251, 117, 127, 1), rgba(254, 86, 174, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ProfilDetail-quote {
  text-align: left;
  background: -webkit-linear-gradient(45deg, rgba(251, 117, 127, 1), rgba(254, 86, 174, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  font-size: 1em;
  padding: 0 5vw 3vh 5vw ;
}

.ProfilDetail-Line {
  height: 1px;
  width: 90vw;
  margin: 3vh 5vw 3vh 5vw;
  background-color: rgba(255,255,255,0.3);
}

.ProfilDetail-shortLine {
  height: 1px;
  width: 20vw;
  margin: 3vh 5vw 3vh 5vw;
  background-color: rgba(251, 117, 127, 0.3);
}

ul.ProfilDetail-friends {
  list-style-type: none;
  display:inline-block;
  padding: 0 5vw;color: #252525;
}

ul.ProfilDetail-friends li {
  width: 20vw;
  height: 20vw;
  margin:0 5vw 15vw 5vw;
  border-radius: 22vw;
  float: left;
  background-color: rgba(251, 117, 127, 1);
  background-size: cover;
  background-position: center center;
  z-index: 9;
}

ul.ProfilDetail-friends li .ProfilDetail-friends-name {
  margin-top: 21vw;
}

.ProfilDetail-poked {
  -webkit-box-shadow: 0px 0px 0px 4px rgba(251, 117, 127, 0.8);
  -moz-box-shadow: 0px 0px 0px 4px rgba(251, 117, 127, 0.8);
  box-shadow: 0px 0px 0px 4px rgba(251, 117, 127, 0.8);

  color: rgba(251, 117, 127, 1);
}

ul.ProfilDetail-TripsDetail {
  list-style-type: none;
  position: relative;
  float: left;
  padding: 0;
}

ul.ProfilDetail-TripsDetail li {
  width: 90vw;
  font-size:1.3em;
  height: 120px;
  margin: 0px 5vw 5vw 5vw;
  display: block;
  background-size:cover;
  background-position: center center;
}

.ProfilDetail-vignette {
    display:table-cell;
    vertical-align:middle;
    height: 120px;
    width: 100vw;
    background: linear-gradient( 45deg, rgba(246, 171, 47, .3), rgba(254, 86, 174, .3));
}

.ProfilDetail-normal {
    font-size: 0.8em;
    font-weight: 300;
    color: rgba(255, 255, 255, .7);
}

.ProfilDetail-onoffswitch {
position: absolute;
width: 60px;
height: 60px;
left: 50vw;
margin-left: -30px;
margin-top: -30px;
border-radius: 50%;
background: white url(../img/btn-hide.svg) no-repeat center center;
box-shadow: 0px 3px 8px rgba(37, 37, 37, 0.3);
}

.ProfilDetail-onoffswitch-status {
color: rgba(255, 255, 255, .4);
font-weight: 300;
width:100px;
margin-left: 65px;
margin-top:5px;
font-size: 1em;
line-height: 1em;
text-align: left;
}

ul.ProfilDetail-footer-infos {
  list-style-type: none;
margin: 0 auto;
  margin-top: 5vh;
  display:inline-block;
  float: left;
  padding: 28px 0px 28px 0px;
  width: 100%;
  color: white;
  background: linear-gradient( 45deg, rgba(251, 117, 127, 1), rgba(254, 86, 174, 1));
}

ul.ProfilDetail-footer-infos li {
  font-size:1em;
  text-align: center;
  width: 100%;
  line-height: 2em;
  font-weight: 300;
  display: block;
  opacity: 1;
}

ul.ProfilDetail-footer-infos li a {
  color: white;
  text-decoration: none;
}
