.TripDetail-card{
  color:#FFFFFF;
  height: 100vh;
  text-align: center;
  height: 96vh;
  width: 100vw;
  padding: 4vh 0px 0px 0px;
}

.TripDetail-close {
  width: 24px;
  height: 24px;
  cursor: pointer;
  right: 0;
  top:0;
  justify-content: center;
  align-items: center;
  position:fixed;
  margin: 30px 30px 0 0;
  background: url(../img/btn-crossBlack.svg) no-repeat center center;
  opacity: .5;
}

.TripDetail-category {
  font-size:2.5em;
  font-weight: 300;
  text-align: left;
  margin-left:5vw;
  background: -webkit-linear-gradient(45deg, rgba(251, 117, 127, 1), rgba(254, 86, 174, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.TripDetail-Subcategory {
  font-size:1.6em;
  font-weight: 300;
  text-align: left;
  margin-left:5vw;
  margin-top: 13vw;
  background: -webkit-linear-gradient(45deg, rgba(251, 117, 127, 1), rgba(254, 86, 174, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.TripDetail-quote {
  text-align: left;
  background: -webkit-linear-gradient(45deg, rgba(251, 117, 127, 1), rgba(254, 86, 174, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  font-size: 1em;
  padding: 0 5vw;
}

.TripDetail-shortLine {
  height: 1px;
  width: 20vw;
  margin: 3vh 5vw 3vh 5vw;
  background-color: rgba(251, 117, 127, 0.3);
}


ul.TripDetail-inspirations {
  list-style-type: none;
  position: relative;
  float: left;
  top: -10px;
  margin-bottom: 30px;
  padding-left: 4.5vw;
}

ul.TripDetail-inspirations li {
  font-size:1em;
  width: 45vw;
  margin: 0 1vw 1vw 0vw;
  height: 120px;
  display: table;
  background-size:cover;
  float: left;
  background-position: center center;
}

.TripDetail-todo {
  background: rgba(255, 255, 255, .2);
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height:100%;
}

.TripDetail-done {
  background: rgba(251, 117, 127, .8);
  position: relative;
  display: table-cell;
  color:white;
  font-size: 3em;
  font-weight: 300;
  vertical-align: middle;
  width: 100%;
  height:100%;
  background-image: url(../img/btn-check-dark.png) no-repeat center center;
  background-size: 40px 40px;
}

.TripDetail-normal {
    font-size: 0.8em;
    font-weight: 300;
    color: rgba(255, 255, 255, .7);
}

.TripDetail-map {
  font-size:1em;
  width: 90vw;
  margin: 0 5vw 0 5vw;
  height: 90vw;
  margin-bottom: 8vh;
  background-size:cover;
  float: left;
  background-position: center center;
  background: url(../img/TripMapSelection.png) no-repeat center center;
}

ul.TripDetail-together {
  list-style-type: none;
  text-decoration: none;
  position: relative;
  float: left;
  top: -18px;
  margin-bottom: 30px;
  padding-left: 5vw;
}

ul.TripDetail-together li {
  margin-bottom: -22px;
  float: left;
}

.TripDetail-Friend {
  width: 90vw;
  height: 40px;
  text-align: left;
  background: url(../img/monogramBlack.svg) no-repeat 10px center;
  float:left;
}

.TripDetail-FriendName {
  color:#252525;
  position: absolute;
  text-align: left;
  float: left;
  margin-left: 40px;
}
.TripDetail-FriendStatusOk {
  color:#38f4d0;
  font-weight: 300;
}
.TripDetail-FriendStatus {
  color:rgba(251, 117, 127, 1);
  font-weight: 300;
}

.TripDetail-Status {
  height:40px;
  width:40px;
  background: url(../img/Status-ready.svg) no-repeat center center;
  position: relative;
  float: right;
  top: -40px;
  right: 5vw;
}

.TripDetail-Statuswait {
  height:40px;
  width:40px;
  background: url(../img/Status-wait.svg) no-repeat center center;
  position: relative;
  float: right;
  top: -40px;
  right: 5vw;
  opacity: 0.6;
}

.TripDetail-FriendAdd {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient( 45deg, rgba(246, 171, 47, .6), rgba(254, 86, 174, .6));
  font-size: 2em;
  font-weight: 200;
  color: white;
  margin-left: 40vw;
}
