.EventMapMarker-dot {
  width: 13px;
  height: 13px;
  border-radius: 30px;
  cursor: pointer;
  background: radial-gradient( farthest-side ellipse at 65% 35%, #fcb2c2, #ff0090);
  background-clip: padding-box;
  box-shadow:
    0 1px 5px rgba(252,104,136,0.6),
    inset 3px -3px 2px 0px rgba(255,255,255,0.3);
}

.EventMapMarker-close {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin: 20px 20px 0 0;
}

.EventMapMarker-card {
  position: fixed;
  z-index:900;
  text-align: center;
  width:100vw;
  height:100vh;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1em 2em  rgba(0, 0, 0, 0.3);
  background: url(../img/eventExample.jpg) no-repeat center center;
  background-size: cover;
}

.EventMapMarker-content {
  position: absolute;
  margin-bottom: 15vh;
  bottom: 0;
  width:96vw;
  padding: 2vh 2vw;
  background-color: rgba(0, 0, 0, 0.5);
}
