.FilterButton-btn {
  width:48px;
  height: 48px;
  border-radius: 30px;
  position: absolute;
  left:18px;
  top: 18px;
  cursor: pointer;
  background: rgba(255,255, 255, 1) url(../img/btn-menuColor.svg)no-repeat center center;
  background-size: 70% 70%;
  opacity: 0.8;
}
