.FilterButton-btn {
  width:48px;
  height: 48px;
  border-radius: 30px;
  position: absolute;
  left:50vw;
  top: 18px;
  margin-left: -24px;
  cursor: pointer;
  background: rgba(255,255, 255, 1) url(../img/btn-menuColor.svg)no-repeat center center;
  background-size: 62% 62%;
  opacity: 0.8;
  animation-delay: 0ms;
}
