.LoginMapButton-btn {
  width:48px;
  height: 48px;
  border-radius: 30px;
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  background: rgba(255,255, 255, 1) url(../img/monogramColor.svg)no-repeat center 15px;
  background-size: 80px 60px;
  opacity: 0.8;
}
