.ShareEventButton-menu{
  background-image: url(../img/btn-Share.svg) no-repeat center center;
}

.ShareEventButton-btn {
  cursor: pointer;
  margin-left: -125px;
  left: 0px;
  opacity: 0.8;
  border-radius: 50%;
  background: linear-gradient( 45deg, #f6ab2f, rgba(254, 86, 174, 1));
 }

.ShareEventButton-btn-facebook{
  background: url(../img/btn-Share-facebook.svg) no-repeat center center;
  width: 60px;
  height: 60px;
}

.ShareEventButton-btn-twitter{
  background: url(../img/btn-Share-twitter.svg) no-repeat center center;
  width: 60px;
  height: 60px;
}

.ShareEventButton-btn-whatsapp{
  background: url(../img/btn-Share-whatsapp.svg) no-repeat center center;
  width: 60px;
  height: 60px;
}

.ShareEventButton-btn-sms{
  background: url(../img/btn-Share-sms.svg) no-repeat center center;
  width: 60px;
  height: 60px;
}





.EventDetail-share-btnf {
  width: 60px;
  height: 60px;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 4em;
  line-height: 1.2em;
  font-weight: 300;
  color:white;
  position: absolute;
  margin-left: -120px;
  left:50vw;
  bottom: 40px;
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  overflow: hidden;
  opacity: 0.8;
  background: #f06;
  background: url(../img/btn-Share.svg) no-repeat center center, linear-gradient( 45deg, #f6ab2f, rgba(254, 86, 174, 1));
}
