body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  text-align: center;
  font-weight: 300;
  font-size: 2.2em;
  color:#252525;
}

h2 {
  text-align: center;
  margin-top: -10px;
  font-weight: 300;
  font-size: 1.5em;
  color:rgba(37,37,37,.4);
}

h3 {
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  color:rgba(37,37,37,.3);
}
